* {
  box-sizing: border-box;

}

.glass-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    direction: ltr;
    /* width: 20px;
      height: 20px; */
  }
  
  .glass-row {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    /* display: flex;
    justify-content: center;
    align-items: center; */

  }
  
  .glass {
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(255, 250, 250, 0.25);


    margin: 3em 0;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 0;
    box-shadow: 0px 0px 50px 0px #797171;
    animation: shadowAnimate .5s ease infinite alternate;
  }


  
  @keyframes shadowAnimate {
    0% {
      /* transform: translate(0, 0); */
      box-shadow: 0 0 120px -50px #FF4500;
    }
    50% {
      /* transform: translate(20px, 20px); */
      box-shadow: 0px 0px 120px -50px #ffa500;
    }
    100% {
      /* transform: translate(20px, 20px); */
      box-shadow: 0px 0px 120px -50px #FFD700;
    }
  
  }
  
  /* .col {
      width: 100%;
  } */
  
  .menu {
    flex: 50%;
    min-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    /* margin: 1em 0 1em 0; */

  }
  
  .menu-item {
    background-color: rgba(225, 225, 225, 0.4);
    width: 75%;
    padding: 1.5em;
    margin: .5em;
    border-radius: 30px;
    box-shadow: 0px 7px 0px 0px black;
    color: black;
    font-size: 18px;
    text-decoration: none;
  }
  
  .menu-item:hover {
    background-color: rgba(225, 225, 225, .6);
    box-shadow: 0px 7px 0px 0px #560C00;
    cursor: pointer;
  }
  
  .img {
    background: url("/static/hadis-images/main/y-3.jpg") no-repeat;
    opacity: 0.4;
    flex: 50%;
    min-width: 50%;
    height: 100%;
    background-size: cover;
    border-radius: 30px 0 0 30px;

  }

  @media (max-width: 900px) {

    .glass {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      height: 200vh;
      margin-bottom: 5rem;
    }
    .img {
      flex: 100%;
      min-width: 100%;
      border-radius: 30px 30px 0 0;
    }

    .menu {
      flex: 100%;
      min-width: 100%;
      margin-top: 3em;
    }
    .menu-item {
      width: 90%;
    }
  }


  